/* Globales */

/* html{
    box-sizing: border-box;
    font-size: 62.5%;
} 

*, *:before,*:after{
    box-sizing: inherit;
} */

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

:root {
    --primario: #FD2626;
    --secundario: #C60F0F;
    --gris: #3b3b3b;
    --blanco: #ffffff;
    --negro: #1f1f1f;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;


    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: font-family: 'Lato', sans-serif;
}

/* Fin Globales */







.header {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 0;
    position: sticky;
}


.barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 727px) {
    .barra {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    @media (min-width: 1030px) {
        .barra {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
    }

}


/* Rutas del menu */

.rutas {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;

}

@media (min-width: 727px) {
    .rutas {
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        display: block;
        font-size: 1.8rem;
    }
}

.rutas a {
    color: var(--blanco);
    margin: 0 .5rem;

    color: var(--blanco);
    transition: .2s;
    text-align: center;
}



/* Contenido header */

/* .contenedor-header{
    padding: 0 2rem;
}

.contenedor-header p{
    text-align: center;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    margin: 3rem 0;
}
 */

/* Logo Enmpresa */


.img-logo img {
    border-radius: 50%;
    padding: .5rem .5rem;
}

@media (min-width: 727px) {
    .img-logo img {
        margin-left: 1rem;
    }

    @media (min-width: 1030px) {
        .img-logo img {
            margin-left: none;
        }
    }

}

/* Fin del logo */



/* Buscador */

.mostrar-buscador {
    display: none;
}

.mostrarinfo {
    display: flex;
    transition: .3s;
}

.buscarlupa img {
    filter: invert(100%);
    /* Esto invertirá el color de la imagen */
}

.buscarlupa {
    display: flex;
    cursor: pointer;
    margin: 1.5rem;
}

@media (min-width: 767px) {
    .estilo-buscador-responsive {
        display: flex;
    }
}

.estilo-buscador {
    background-color: transparent;
    max-width: 100%;
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centrar verticalmente */
    background: transparent;
    height: 50px;
    /* Establecer una altura */
}

.buscar input {
    height: 3rem;
    width: 25rem;
    color: var(--blanco);
    background: transparent;
}

.tamano-buscador {
    min-width: 90%;
}

@media (min-width: 729px) {
    .buscador input {
        min-width: 90%;
    }
}

/* Fin del Buscador */


/* Menu Hamburguesa */

.menu {
    display: flex;
    cursor: pointer;
    margin: 1.5rem;
}

@media (min-width: 727px) {
    .menu {
        display: none;
    }
}

.desplegue {
    display: none;
    flex-direction: column;
}

.desplegue a {
    color: var(--blanco);
    font-size: 1.3rem;
    color: var(--blanco);
    transition: .2s;
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem 2rem;
}

.mostrar {
    display: flex;
}

@media (min-width: 727px) {
    .mostrar {
        display: none;
    }
}

/* Fin menu hamburguesa */


/* Seccion de sugerencias */


.imagensugerencias {
    background: url(../../img/buzon1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* BAD Y BN*/



.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #1e6;
    color: #fff
}

.bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff
}


/* FIN DE BAN Y BN */







/*PERFIL*/

.perfil {
    border: 1px solid var(--grisClaro);
    border-radius: 4rem;
    margin-top: 3rem;
    padding: 2rem;
    max-width: 100rem;
    display: flex;
}

.datos-perfil h6 {
    text-transform: uppercase;
}

/* INPUT PERFIL*/
.informacion {
    display: flex;
}

.conf-datos {
    display: flex;
    align-items: center;
}

.configuracion {
    display: none;
}

.mostrar-c {
    display: flex;
}


/* INDEX */

.imagenindex {
    background: linear-gradient(to right, rgba(33, 29, 29, 0.887), rgba(33, 29, 29, 0.887)), url(../img/header.jpg);
    color: var(--blanco);
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 5rem;
    font-family: 'Kaushan Script', cursive;
    -webkit-box-shadow: 1px 14px 50px -2px rgba(59, 59, 59, 0.47);
    -moz-box-shadow: 1px 14px 50px -2px rgba(59, 59, 59, 0.47);
    box-shadow: 1px 14px 50px -2px rgba(59, 59, 59, 0.47);

}

.letra-titulo {
    padding-top: 3rem;
    color: var(--blanco);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    font-family: 'Kaushan Script', cursive;
}


/* carrusel */


@media (min-width: 575px) {

    .carousel,
    .carousel-inner>.item>img {
        height: 50%;
        width: 50%;
    }

    @media (min-width: 720px) {

        .carousel,
        .carousel-inner>.item>img {
            height: 50%;
            width: 50%;
        }
    }
}




/* MENU */

.barramenu {
    background-color: var(--primario);
    color: var(--blanco);
    position: sticky;
    display: flex;
    justify-content: center;
}

@media (min-width: 727px) {
    .barramenu {
        display: flex;
        justify-content: center;
        color: var(--blanco);
    }

    @media (min-width: 1030px) {
        .barramenu {
            display: flex;
            justify-content: space-around;
            flex-direction: row;


        }
    }

}

.barramenu img {
    width: 3.8rem;
    height: 3.8rem;
    background-color: var(--blanco);
    border-radius: 50%;
}


.menu-productos a {
    color: var(--blanco);
    font-weight: bold;
    display: flex;
    flex-direction: column;

    align-items: center;
}



/* CATEGORIAS */

.listado-categorias {
    display: block;
    max-width: 100%;
    background-size: cover;
}

@media (min-width: 768px) {
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        max-width: 120rem;
        margin: 0 auto;
    }

    .categoria:nth-child(1) {
        grid-column: 1/3;

    }

    .categoria:nth-child(2) {
        grid-column: 3/5;
    }

    .categoria:nth-child(3) {
        grid-column: 5/7;
    }

    .categoria:nth-child(4) {
        grid-column: 1/3;
    }

    .categoria:nth-child(5) {
        grid-column: 3/5;
    }

    .categoria:nth-child(6) {
        grid-column: 5/7;
    }
}

.categoria:nth-child(1) img,
.categoria:nth-child(2) img,
.categoria:nth-child(3) img,
.categoria:nth-child(4) img,
.categoria:nth-child(5) img,
.categoria:nth-child(6) img {
    height: 30rem;
    width: 80%;
    object-fit: cover;
    border: .1rem solid silver;
}


.categoria a {
    display: block;
    padding: 1rem;
    width: 82%;
    border-bottom-right-radius: 2px;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--negro);
    background-color: var(--primario);
    transition: background-color 0.3s ease-out;
    text-decoration: none;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

/*Categoria de Categorias*/

.categoria .contenido {
    margin-top: 2rem;
    font-weight: 400;

}

.categoria a:hover {
    background-color: var(--secundario);
    color: var(--blanco);
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border: .1rem solid var(--gris);
}

.categoria {
    display: flex;
    padding: 3rem 0;
    border: 1px solid var(--grisClaro);
    flex-direction: column;
    align-items: center;
}


.categorias {
    text-align: center;
    padding: 1rem 0;
    margin-top: .1rem solid var(--grisClaro);
    margin: 0 auto;

}

.categorias img {
    width: 100%;
    height: 50rem;
    margin: 1rem;
    border: .1rem solid var(--gris);
    transition: transform .3s ease-in-out;
}

/*.categorias img:hover{
    transform: scale(0.8);
}*/

.texto-categoria {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nav-grid {
    background-color: var(--primario);
    color: #ffffff;
    font-size: 2rem;
    border: 0.1rem solid black;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
}


.nav-grid a {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
}

.nav-grid a:hover {
    background-color: aliceblue;
    color: #000;
    width: auto;
}

.nav-grid img {
    width: 2rem;
    height: 2rem;
    align-content: center;
}


/* CATEGORIAS */

.contenedor_productos {
    float: left;
    background: var(--blanco);
    position: relative;
    margin: 1%;
    border: 1px solid var(--gris);
    border-radius: 5px;
    text-align: center;
    padding: 2rem 4rem;
    margin-bottom: 4%;
}

.contenedor_productos img {

    width: 150px;
    height: 150px;
}

/*CATEGORIAS INDEX**/



.listado-categorias-index {
    display: flex;
    overflow-x: auto;
    /* Habilita el desplazamiento horizontal */
}

@media (min-width: 768px) {
    .listado-categorias-index {
        display: flex;
        overflow-x: hidden;
        /* Habilita el desplazamiento horizontal */
    }
}

/* Estilo para el scrollbar */
.listado-categorias-index::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scrollbar */
}

/* Color de fondo del scrollbar */
.listado-categorias-index::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Color del scrollbar */
.listado-categorias-index::-webkit-scrollbar-thumb {
    background: #888;
}

/* Hover del scrollbar */
.listado-categorias-index::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.categoria {
    flex: 0 0 auto;
    /* Establece un ancho fijo para cada elemento de categoría */
    margin-right: 1rem;
    /* Añade un espacio entre cada elemento */
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}


.menu-productos {
    padding: 1rem;
}




/* PANTALLA DE ERROR */

.pantallaerror {
    background-color: rgb(240, 240, 143);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantallaerror img {
    height: 25rem;
    width: 25rem;
}

/*checkout*/

.checkout {
    max-width: 120rem;
    font-size: 2rem;
}

.checkout fieldset {
    padding: 2rem;
    margin: 2rem 0;
    background-color: var(--grisClaro);
    border: #3b3b3b;
}

.checkout p {
    line-height: 4rem;
}

fieldset label {
    display: flex;
    line-height: 2rem;
    padding-top: 2rem;

}

fieldset label p {
    margin-left: 2rem;
}


.titulo-check {
    background-color: var(--primario);
    border: 1px solid var(--negro);
    text-align: center;
    width: 90%;
    color: var(--blanco);
    font-weight: 400;
    text-transform: uppercase;
}


/* Editar Perfil */

.datosPersonales {
    display: none;
    flex-direction: column;
}

.datosContacto {
    display: none;
    flex-direction: column;
}

.datosSeguridad {
    display: none;
    flex-direction: column;
}


.mostrar-datos {
    display: flex;
    flex-direction: colum;
    transition: .3s;
}


.centrado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    margin: auto;
}

/* Editar Perfil*/

.contenedorDatosEditar {
    border: 1px solid var(--grisClaro);
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 0rem 2rem 1rem 2rem;

}

.alinear {
    display: flex;
    align-items: center;
}

#ModalEditarDatosPerfil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color gris translúcido */
    z-index: 1050;
    /* Asegura que esté por encima del modal */
}

#modalEditarContacto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color gris translúcido */
    z-index: 1050;
    /* Asegura que esté por encima del modal */
}

#modalEditarSeguridad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color gris translúcido */
    z-index: 1050;
    /* Asegura que esté por encima del modal */
}

.padding-left-1 {
    padding-left: 1rem;
}


/*Perfil usuario*/

.fondo {
    background-image: url('../img/imagen.2.jpg');
    /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    /* Para que la imagen cubra todo el cuerpo */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    height: 100%;
}

.estilo-perfil {
    display: flex;
    flex-direction: column;
}

.estilo-cuadro-perfil {
    display: flex;

}



.padding-perfil {
    padding: 3rem !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-card-full {
    overflow: hidden;

}

.card {
    border-radius: 5px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.opacity-icono {
    background: transparent;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}



h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.titulo-producto{
    display: flex;
    flex-direction: column-reverse;
}